*.class
*.war
*.ear
build.xml
/temp
/out
/.settings*
.project
.classpath
.mymetadata
/promotion*
/.myeclipse*
.DS_Store
.gitignore
TODO.txt
.idea*
CSSMetaSelector.iml
metastyle.iml
metastyle.ipr
metastyle.iws
/grails-app/conf/DataSource.groovy
