html {
	background: transparent;
}

body {
	background-image: url(../images/bg-image.jpg);
}

ul.navbar {
	margin-left: -5px;
}

#main-container a:link {color: rgb(0, 0, 51); text-decoration: none;}
#main-container a:hover {color: red; text-decoration: underline;}
#main-container a:visited {color: rgb(0, 0, 51); text-decoration: none;}
#main-container a:active {color: rgb(0, 0, 51); text-decoration: none;}

#recommendation a:link {color: rgb(0, 0, 51); text-decoration: none;}
#recommendation a:hover {color: red; text-decoration: underline;}
#recommendation a:visited {color: rgb(0, 0, 51); text-decoration: none;}
#recommendation a:active {color: rgb(0, 0, 51); text-decoration: none;}

#banner {
	padding-top: 30px;	
}

#banner, .container, #recommendation, .footer {
	margin: auto;
	width: 900px;
}

.warning {
	color: red;
}

.authentication {
	padding-top: 10px;
}

#template_txt {
	height: 400px;
}

#testSnippet {
	height: 200px;
}

#template_txt, #testSnippet {
	font-size: 12px;
	line-height: 12px;
}

#preview {
	zoom: 1.5;
} 

div.preview {
	border-top: 1px solid rgb(204, 204, 204);
	border-right: 1px solid rgb(204, 204, 204);
	border-bottom: 1px solid rgb(204, 204, 204);
	border-left: 1px solid rgb(204, 204, 204);
	min-width: 700px;
}

div.preview-small {
	border-top: 1px solid rgb(204, 204, 204);
	border-right: 1px solid rgb(204, 204, 204);
	border-bottom: 1px solid rgb(204, 204, 204);
	border-left: 1px solid rgb(204, 204, 204);
	width: 378px;
	height: 188px;
}

#template-generation {
	border-top: 2px solid #99E6FF;
	border-right: 2px solid #99E6FF;
	border-bottom: 2px solid #99E6FF;
	border-left: 2px solid #99E6FF;
	padding: 15px;
	width: 1020px;
}

footer.footer {
	height: 40px;
}

footer.footer div.container{
	height: 30px;
}
