/* @font-face {
  font-family: 'FontAwesome';
  src: url('font/fontawesome-webfont.eot');
  src: url('font/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
     url('font/fontawesome-webfont.woff') format('woff'),
     url('font/fontawesome-webfont.ttf') format('truetype'),
     url('font/fontawesome-webfont.svg#FontAwesome') format('svg');
  font-weight: normal;
  font-style: normal;
}*/

html {
	background: transparent;
}

body {
	background-image: url(../images/bg-image.jpg);
	color: black;
	height: 800px;
}

ul.navbar {
	margin-left: -5px;
}

#main-container a:link {color: rgb(0, 0, 51); text-decoration: none;}
#main-container a:hover {color: red; text-decoration: underline;}
#main-container a:visited {color: rgb(0, 0, 51); text-decoration: none;}
#main-container a:active {color: rgb(0, 0, 51); text-decoration: none;}

#recommendation {
	margin-top: 20px; 
	padding-top: 50px;
}
#recommendation a:link {color: rgb(0, 0, 51); text-decoration: none;}
#recommendation a:hover {color: red; text-decoration: underline;}
#recommendation a:visited {color: rgb(0, 0, 51); text-decoration: none;}
#recommendation a:active {color: rgb(0, 0, 51); text-decoration: none;}

#banner {
	padding-top: 30px;	
}

#banner, .container, #recommendation, .footer {
	margin: auto;
	width: 900px;
}

.warning {
	color: red;
}

.authentication {
	padding-top: 10px;
}

#template_txt {
	height: 400px;
}

#testSnippet {
	height: 200px;
}

#template_txt, #testSnippet {
	font-size: 12px;
	line-height: 12px;
}

.CodeMirror-gutter {
	background-color: rgb(255, 255, 255) !important;
}

#preview {
	zoom: 1.5;
} 

div.preview {
	border-top: 1px solid rgb(204, 204, 204);
	border-right: 1px solid rgb(204, 204, 204);
	border-bottom: 1px solid rgb(204, 204, 204);
	border-left: 1px solid rgb(204, 204, 204);
	background-color: rgb(255, 255, 255);
	width: 698px;
	height: 180px;
}

div.preview-small {
	border-top: 1px solid rgb(204, 204, 204);
	border-right: 1px solid rgb(204, 204, 204);
	border-bottom: 1px solid rgb(204, 204, 204);
	border-left: 1px solid rgb(204, 204, 204);
	background-color: rgb(255, 255, 255);
	width: 378px;
	height: 188px;
}

#template-generation {
	border-top: 2px solid #99E6FF;
	border-right: 2px solid #99E6FF;
	border-bottom: 2px solid #99E6FF;
	border-left: 2px solid #99E6FF;
	padding: 15px;
	width: 1020px;
}

#search-panel {
	border-top: 2px solid #99E6FF;
	border-right: 2px solid #99E6FF;
	border-bottom: 2px solid #99E6FF;
	border-left: 2px solid #99E6FF;
	padding: 5px 15px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	width: 910px;
}

.search-bar {
	padding: 25px 15px;
}

.format-radio {
	padding-top: 5px;
	padding-bottom: 0px;
}

div.search-bar-label label.span {
	font-size: 20px !important;
}

#template-generation button {
	margin-bottom: 10px;
}

footer.footer {
	height: 40px;
}

footer.footer div.container{
	height: 30px;
}

#main_content > div > div > button {
	margin-top: 10px !important;
}

#footer-link {
	float: right !important;
}

#footer-link li a:link {
	text-decoration: underline;
}

p.copyright {
	padding-top: 10px;
}

p.lead {
	color: rgb(96, 198, 247);
	margin-top: -30px !important;
}

/*
div.pagination {
	text-align: center;
}

div.pagination a {
	margin: 5px 10px;
}

div.pagination a.prefLink:link {
	color: rgb(89, 92, 147) !important;
}
div.pagination a.prefLink:hover {
	color: rgb(255, 255, 255) !important;
}

div.pagination a.prefLink:visited {
	color: rgb(89, 92, 147) !important;
}*/

.template-thumbnails {
	height: 640px;
	background-color: #60C6F7;
	float: none;
	margin-left: 178px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

#glance {
	margin-top: 200px !important;
	float: none;
	margin: auto;
}

.template-group {
	height: 200px;
	background-color: rgba(91, 145, 205, 2);
	margin-left: 10px;
	margin-top: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

.template-iframe {
	width: 280px;
	heigth: 220px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	background-color: white;
}

.statistic {
	height: 15px !important;
}

i {
	vertical-align: text-top !important;
	padding-right: 5px;
}

.stat-user {
	float: left;
	padding: 0 10px;
}

.stat-like {
	padding: 0 10px;
}

.stat-views {
	padding: 0 10px;
}

.see-the-page {
	float: right;
	padding: 0 10px;
}

#options {
	margin-right: 50px;
	float: right;
}

div.template-group a:link { text-decoration: underline; color: rgb(96, 198, 247);}
div.template-group a:hover { text-decoration: underline; color: red !important;}
div.template-group a:visited {text-decoration: underline; color: rgb(96, 198, 247);}

#main_content a:link { text-decoration: underline; color: rgb(96, 198, 247);}
#main_content a:hover { text-decoration: underline; color: red !important;}
#main_content a:visited {text-decoration: underline; color: rgb(96, 198, 247);}

span.currentStep, a.step, a.nextLink, a.prevLink {
  float: left;
  padding: 0 14px;
  margin: 20px 5px;
  line-height: 38px;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-left-width: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  *zoom: 1;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

span.currentStep {
	color: gray;
}

div.github-button {
	margin-top: 20px;
	margin-left: 440px;
}

span.github-signin {
	font-size: 16px;
	background-color: rgb(96, 198, 247);
	width: 300px;
	height: 35px;
	padding: 15px 30px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

div.google-button {
	margin-top: 50px;
	margin-left: 440px;
}

span.google-signin {
	font-size: 16px;
	background-color: rgb(96, 198, 247);
	width: 300px;
	height: 35px;
	padding: 15px 30px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

hr { border: 0; height: 1px; background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); padding: 5px 0px;}

div.playground {
	height: 800px;
}