/*style for the Person (http://xmlns.com/foaf/0.1/Person) as Microdata*/

		/*style for the type Person*/
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"] {
		
		}
		
		/*style for the property fundedBy*/
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="fundedBy"],
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="fundedBy"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="fundedBy"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="fundedBy"] {
		
		}
		
		/*style for the property term_status*/
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="term_status"],
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="term_status"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="term_status"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="term_status"] {
		
		}
		
		/*style for the property img*/
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="img"],
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="img"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="img"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="img"] {
			float:left;
			margin-left:0px;
			border:1px solid #333333;
			width:64px;
			height:64px;
		}
		
		/*style for the property birthday*/
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="birthday"],
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="birthday"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="birthday"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="birthday"] {
		
		}
		
		/*style for the property givenName*/
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="givenName"],
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="givenName"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="givenName"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="givenName"] {
		
		}
		
		/*style for the property currentProject*/
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="currentProject"],
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="currentProject"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="currentProject"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="currentProject"] {
		
		}
		
		/*style for the property homepage*/
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="homepage"],
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="homepage"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="homepage"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="homepage"] {
			color: rgb(0, 0, 0);
			text-decoration: underline;
		}
		
		/*style for the property homepage*/
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="homepage"]:hover,
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="homepage"]:hover,
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="homepage"]:hover,
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="homepage"]:hover {
			color: green;
			text-decoration: underline;
		}
		
		/*style for the property knows*/
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="knows"],
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="knows"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="knows"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="knows"] {
			color: rgb(0, 0, 0);
			text-decoration: underline;
		}
		
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="knows"]:hover,
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="knows"]:hover,
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="knows"]:hover,
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="knows"]:hover {
			color: green;
			text-decoration: underline;
		}
		
		/*style for the property geekcode*/
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="geekcode"],
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="geekcode"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="geekcode"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="geekcode"] {
		
		}
		
		/*style for the property mbox*/
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="mbox"],
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="mbox"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="mbox"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="mbox"] {
			color: rgb(0, 0, 0);
			text-decoration: underline;
		}
		
		/*style for the property mbox*/
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="mbox"]:hover,
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="mbox"]:hover,
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="mbox"]:hover,
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="mbox"]:hover {
			color: green;
			text-decoration: underline;
		}
		
		/*style for the property name*/
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="name"],
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="name"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="name"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="name"] {
			font-size:1.2em;
			font-weight:bold;
			text-transform:none;
			color: rgb(0, 0, 0);
		}
		
		/*style for the property yahooChatID*/
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="yahooChatID"],
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="yahooChatID"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="yahooChatID"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="yahooChatID"] {
		
		}
		
		/*style for the property icqChatID*/
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="icqChatID"],
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="icqChatID"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="icqChatID"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="icqChatID"] {
		
		}
		
		/*style for the property dnaChecksum*/
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="dnaChecksum"],
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="dnaChecksum"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="dnaChecksum"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="dnaChecksum"] {
		
		}
		
		/*style for the property description*/
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="description"],
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="description"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="description"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="description"] {
		
		}
		
		/*style for the property publications*/
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="publications"],
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="publications"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="publications"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="publications"] {
		
		}
		
		/*style for the property age*/
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="age"],
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="age"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="age"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="age"] {
		
		}
		
		/*style for the property holdsAccount*/
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="holdsAccount"],
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="holdsAccount"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="holdsAccount"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="holdsAccount"] {
		
		}
		
		/*style for the property creator*/
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="creator"],
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="creator"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="creator"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="creator"] {
		
		}
		
		/*style for the property theme*/
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="theme"],
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="theme"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="theme"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="theme"] {
		
		}
		
		/*style for the property workInfoHomepage*/
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="workInfoHomepage"],
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="workInfoHomepage"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="workInfoHomepage"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="workInfoHomepage"] {
		
		}
		
		/*style for the property phone*/
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="phone"],
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="phone"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="phone"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="phone"] {
			margin:10px 10px 0px 0px;
			color: rgb(0, 0, 0);
		}
		
		/*style for the property workplaceHomepage*/
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="workplaceHomepage"],
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="workplaceHomepage"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="workplaceHomepage"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="workplaceHomepage"] {
		
		}
		
		/*style for the property made*/
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="made"],
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="made"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="made"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="made"] {
		
		}
		
		/*style for the property gender*/
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="gender"],
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="gender"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="gender"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="gender"] {
		
		}
		
		/*style for the property mbox_sha1sum*/
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="mbox_sha1sum"],
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="mbox_sha1sum"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="mbox_sha1sum"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="mbox_sha1sum"] {
		
		}
		
		/*style for the property surname*/
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="surname"],
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="surname"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="surname"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="surname"] {
		
		}
		
		/*style for the property topic_interest*/
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="topic_interest"],
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="topic_interest"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="topic_interest"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="topic_interest"] {
		
		}
		
		/*style for the property lastName*/
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="lastName"],
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="lastName"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="lastName"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="lastName"] {
		
		}
		
		/*style for the property page*/
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="page"],
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="page"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="page"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="page"] {
		
		}
		
		/*style for the property nick*/
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="nick"],
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="nick"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="nick"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="nick"] {
		
		}
		
		/*style for the property interest*/
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="interest"],
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="interest"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="interest"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="interest"] {
		
		}
		
		/*style for the property based_near*/
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="based_near"],
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="based_near"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="based_near"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="based_near"] {
		
		}
		
		/*style for the property schoolHomepage*/
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="schoolHomepage"],
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="schoolHomepage"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="schoolHomepage"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="schoolHomepage"] {
		
		}
		
		/*style for the property logo*/
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="logo"],
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="logo"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="logo"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="logo"] {
		
		}
		
		/*style for the property weblog*/
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="weblog"],
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="weblog"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="weblog"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="weblog"] {
		
		}
		
		/*style for the property aimChatID*/
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="aimChatID"],
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="aimChatID"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="aimChatID"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="aimChatID"] {
		
		}
		
		/*style for the property pastProject*/
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="pastProject"],
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="pastProject"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="pastProject"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="pastProject"] {
		
		}
		
		/*style for the property family_name*/
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="family_name"],
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="family_name"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="family_name"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="family_name"] {
		
		}
		
		/*style for the property skypeID*/
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="skypeID"],
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="skypeID"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="skypeID"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="skypeID"] {
		
		}
		
		/*style for the property maker*/
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="maker"],
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="maker"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="maker"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="maker"] {
		
		}
		
		/*style for the property plan*/
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="plan"],
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="plan"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="plan"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="plan"] {
		
		}
		
		/*style for the property title*/
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="title"],
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="title"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="title"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="title"] {
		
		}
		
		/*style for the property familyName*/
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="familyName"],
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="familyName"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="familyName"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="familyName"] {
		
		}
		
		/*style for the property membershipClass*/
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="membershipClass"],
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="membershipClass"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="membershipClass"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="membershipClass"] {
		
		}
		
		/*style for the property firstName*/
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="firstName"],
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="firstName"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="firstName"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="firstName"] {
		
		}
		
		/*style for the property givenname*/
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="givenname"],
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="givenname"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="givenname"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="givenname"] {
		
		}
		
		/*style for the property tipjar*/
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="tipjar"],
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="tipjar"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="tipjar"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="tipjar"] {
		
		}
		
		/*style for the property status*/
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="status"],
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="status"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="status"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="status"] {
		
		}
		
		/*style for the property account*/
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="account"],
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="account"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="account"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="account"] {
		
		}
		
		/*style for the property jabberID*/
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="jabberID"],
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="jabberID"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="jabberID"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="jabberID"] {
		
		}
		
		/*style for the property isPrimaryTopicOf*/
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="isPrimaryTopicOf"],
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="isPrimaryTopicOf"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="isPrimaryTopicOf"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="isPrimaryTopicOf"] {
		
		}
		
		/*style for the property openid*/
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="openid"],
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="openid"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="openid"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="openid"] {
		
		}
		
		/*style for the property myersBriggs*/
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="myersBriggs"],
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="myersBriggs"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="myersBriggs"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="myersBriggs"] {
		
		}
		
		/*style for the property title*/
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="title"],
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="title"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="title"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="title"] {
		
		}
		
		/*style for the property depiction*/
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="depiction"],
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="depiction"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="depiction"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="depiction"] {
		
		}
		
		/*style for the property msnChatID*/
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="msnChatID"],
		[itemscope][itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="msnChatID"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"][itemprop="msnChatID"],
		[itemscope] [itemtype="http://xmlns.com/foaf/0.1/Person"] [itemprop="msnChatID"] {
		
		}