/*style for the Person (http://schema.org/Person) as RDFaLite*/

		/*style for the element of type Person*/
		[typeof="http://schema.org/Person"],
		[typeof="foaf:Person"],
		[typeof="Person"] {
		
		}
		
		/*style for the contactPoints of the Person*/
		[typeof="http://schema.org/Person"][property="http://schema.org/contactPoints"],
		[typeof="http://schema.org/Person"] [property="http://schema.org/contactPoints"],
		[typeof="foaf:Person"][property="foaf:contactPoints"],
		[typeof="foaf:Person"] [property="foaf:contactPoints"],
		[typeof="Person"][property="contactPoints"],
		[typeof="Person"] [property="contactPoints"] {
		
		}
		
		/*style for the license of the Person*/
		[typeof="http://schema.org/Person"][property="http://purl.org/dc/terms/license"],
		[typeof="http://schema.org/Person"] [property="http://purl.org/dc/terms/license"],
		[typeof="foaf:Person"][property="foaf:license"],
		[typeof="foaf:Person"] [property="foaf:license"],
		[typeof="Person"][property="license"],
		[typeof="Person"] [property="license"] {
		
		}
		
		/*style for the deathDate of the Person*/
		[typeof="http://schema.org/Person"][property="http://schema.org/deathDate"],
		[typeof="http://schema.org/Person"] [property="http://schema.org/deathDate"],
		[typeof="foaf:Person"][property="foaf:deathDate"],
		[typeof="foaf:Person"] [property="foaf:deathDate"],
		[typeof="Person"][property="deathDate"],
		[typeof="Person"] [property="deathDate"] {
		
		}
		
		/*style for the email of the Person*/
		[typeof="http://schema.org/Person"][property="http://schema.org/email"],
		[typeof="http://schema.org/Person"] [property="http://schema.org/email"],
		[typeof="foaf:Person"][property="foaf:email"],
		[typeof="foaf:Person"] [property="foaf:email"],
		[typeof="Person"][property="email"],
		[typeof="Person"] [property="email"] {
			color: rgb(0, 0, 51);
			text-decoration: underline;
		}
		
		/*style for the email of the Person*/
		[typeof="http://schema.org/Person"][property="http://schema.org/email"]:hover,
		[typeof="http://schema.org/Person"] [property="http://schema.org/email"]:hover,
		[typeof="foaf:Person"][property="foaf:email"]:hover,
		[typeof="foaf:Person"] [property="foaf:email"]:hover,
		[typeof="Person"][property="email"]:hover,
		[typeof="Person"] [property="email"]:hover {
			color: red;
			text-decoration: underline;
		}
		
		/*style for the alumniOf of the Person*/
		[typeof="http://schema.org/Person"][property="http://schema.org/alumniOf"],
		[typeof="http://schema.org/Person"] [property="http://schema.org/alumniOf"],
		[typeof="foaf:Person"][property="foaf:alumniOf"],
		[typeof="foaf:Person"] [property="foaf:alumniOf"],
		[typeof="Person"][property="alumniOf"],
		[typeof="Person"] [property="alumniOf"] {
		
		}
		
		/*style for the url of the Person*/
		[typeof="http://schema.org/Person"][property="http://schema.org/url"],
		[typeof="http://schema.org/Person"] [property="http://schema.org/url"],
		[typeof="foaf:Person"][property="foaf:url"],
		[typeof="foaf:Person"] [property="foaf:url"],
		[typeof="Person"][property="url"],
		[typeof="Person"] [property="url"] {
			color: rgb(0, 0, 51);
			text-decoration: underline;
		}
		
		/*style for the url of the Person*/
		[typeof="http://schema.org/Person"][property="http://schema.org/url"]:hover,
		[typeof="http://schema.org/Person"] [property="http://schema.org/url"]:hover,
		[typeof="foaf:Person"][property="foaf:url"]:hover,
		[typeof="foaf:Person"] [property="foaf:url"]:hover,
		[typeof="Person"][property="url"]:hover,
		[typeof="Person"] [property="url"]:hover {
			color: red;
			text-decoration: underline;
		}
		
		/*style for the additionalName of the Person*/
		[typeof="http://schema.org/Person"][property="http://schema.org/additionalName"],
		[typeof="http://schema.org/Person"] [property="http://schema.org/additionalName"],
		[typeof="foaf:Person"][property="foaf:additionalName"],
		[typeof="foaf:Person"] [property="foaf:additionalName"],
		[typeof="Person"][property="additionalName"],
		[typeof="Person"] [property="additionalName"] {
		
		}
		
		/*style for the homeLocation of the Person*/
		[typeof="http://schema.org/Person"][property="http://schema.org/homeLocation"],
		[typeof="http://schema.org/Person"] [property="http://schema.org/homeLocation"],
		[typeof="foaf:Person"][property="foaf:homeLocation"],
		[typeof="foaf:Person"] [property="foaf:homeLocation"],
		[typeof="Person"][property="homeLocation"],
		[typeof="Person"] [property="homeLocation"] {
		
		}
		
		/*style for the description of the Person*/
		[typeof="http://schema.org/Person"][property="http://schema.org/description"],
		[typeof="http://schema.org/Person"] [property="http://schema.org/description"],
		[typeof="foaf:Person"][property="foaf:description"],
		[typeof="foaf:Person"] [property="foaf:description"],
		[typeof="Person"][property="description"],
		[typeof="Person"] [property="description"] {
			margin-top:10px;
			padding-top:10px;
			border-top:1px dotted #cccccc;
		}
		
		/*style for the nationality of the Person*/
		[typeof="http://schema.org/Person"][property="http://schema.org/nationality"],
		[typeof="http://schema.org/Person"] [property="http://schema.org/nationality"],
		[typeof="foaf:Person"][property="foaf:nationality"],
		[typeof="foaf:Person"] [property="foaf:nationality"],
		[typeof="Person"][property="nationality"],
		[typeof="Person"] [property="nationality"] {
		
		}
		
		/*style for the sibling of the Person*/
		[typeof="http://schema.org/Person"][property="http://schema.org/sibling"],
		[typeof="http://schema.org/Person"] [property="http://schema.org/sibling"],
		[typeof="foaf:Person"][property="foaf:sibling"],
		[typeof="foaf:Person"] [property="foaf:sibling"],
		[typeof="Person"][property="sibling"],
		[typeof="Person"] [property="sibling"] {
		
		}
		
		/*style for the follows of the Person*/
		[typeof="http://schema.org/Person"][property="http://schema.org/follows"],
		[typeof="http://schema.org/Person"] [property="http://schema.org/follows"],
		[typeof="foaf:Person"][property="foaf:follows"],
		[typeof="foaf:Person"] [property="foaf:follows"],
		[typeof="Person"][property="follows"],
		[typeof="Person"] [property="follows"] {
		
		}
		
		/*style for the source of the Person*/
		[typeof="http://schema.org/Person"][property="http://purl.org/dc/terms/source"],
		[typeof="http://schema.org/Person"] [property="http://purl.org/dc/terms/source"],
		[typeof="foaf:Person"][property="foaf:source"],
		[typeof="foaf:Person"] [property="foaf:source"],
		[typeof="Person"][property="source"],
		[typeof="Person"] [property="source"] {
		
		}
		
		/*style for the siblings of the Person*/
		[typeof="http://schema.org/Person"][property="http://schema.org/siblings"],
		[typeof="http://schema.org/Person"] [property="http://schema.org/siblings"],
		[typeof="foaf:Person"][property="foaf:siblings"],
		[typeof="foaf:Person"] [property="foaf:siblings"],
		[typeof="Person"][property="siblings"],
		[typeof="Person"] [property="siblings"] {
		
		}
		
		/*style for the description of the Person*/
		[typeof="http://schema.org/Person"][property="http://purl.org/dc/terms/description"],
		[typeof="http://schema.org/Person"] [property="http://purl.org/dc/terms/description"],
		[typeof="foaf:Person"][property="foaf:description"],
		[typeof="foaf:Person"] [property="foaf:description"],
		[typeof="Person"][property="description"],
		[typeof="Person"] [property="description"] {
		
		}
		
		/*style for the colleagues of the Person*/
		[typeof="http://schema.org/Person"][property="http://schema.org/colleagues"],
		[typeof="http://schema.org/Person"] [property="http://schema.org/colleagues"],
		[typeof="foaf:Person"][property="foaf:colleagues"],
		[typeof="foaf:Person"] [property="foaf:colleagues"],
		[typeof="Person"][property="colleagues"],
		[typeof="Person"] [property="colleagues"] {
			color: rgb(0, 0, 51);
			text-decoration: underline;
		}
		
		/*style for the colleagues of the Person*/
		[typeof="http://schema.org/Person"][property="http://schema.org/colleagues"]:hover,
		[typeof="http://schema.org/Person"] [property="http://schema.org/colleagues"]:hover,
		[typeof="foaf:Person"][property="foaf:colleagues"]:hover,
		[typeof="foaf:Person"] [property="foaf:colleagues"]:hover,
		[typeof="Person"][property="colleagues"]:hover,
		[typeof="Person"] [property="colleagues"]:hover {
			color: red;
			text-decoration: underline;
		}
		
		/*style for the memberOf of the Person*/
		[typeof="http://schema.org/Person"][property="http://schema.org/memberOf"],
		[typeof="http://schema.org/Person"] [property="http://schema.org/memberOf"],
		[typeof="foaf:Person"][property="foaf:memberOf"],
		[typeof="foaf:Person"] [property="foaf:memberOf"],
		[typeof="Person"][property="memberOf"],
		[typeof="Person"] [property="memberOf"] {
		
		}
		
		/*style for the knows of the Person*/
		[typeof="http://schema.org/Person"][property="http://schema.org/knows"],
		[typeof="http://schema.org/Person"] [property="http://schema.org/knows"],
		[typeof="foaf:Person"][property="foaf:knows"],
		[typeof="foaf:Person"] [property="foaf:knows"],
		[typeof="Person"][property="knows"],
		[typeof="Person"] [property="knows"] {
		
		}
		
		/*style for the name of the Person*/
		[typeof="http://schema.org/Person"][property="http://schema.org/name"],
		[typeof="http://schema.org/Person"] [property="http://schema.org/name"],
		[typeof="foaf:Person"][property="foaf:name"],
		[typeof="foaf:Person"] [property="foaf:name"],
		[typeof="Person"][property="name"],
		[typeof="Person"] [property="name"] {
			font-size:1.2em;
			font-weight:bold;
			text-transform:none;
			color: rgb(0, 0, 51);
		}
		
		/*style for the gender of the Person*/
		[typeof="http://schema.org/Person"][property="http://schema.org/gender"],
		[typeof="http://schema.org/Person"] [property="http://schema.org/gender"],
		[typeof="foaf:Person"][property="foaf:gender"],
		[typeof="foaf:Person"] [property="foaf:gender"],
		[typeof="Person"][property="gender"],
		[typeof="Person"] [property="gender"] {
		
		}
		
		/*style for the birthDate of the Person*/
		[typeof="http://schema.org/Person"][property="http://schema.org/birthDate"],
		[typeof="http://schema.org/Person"] [property="http://schema.org/birthDate"],
		[typeof="foaf:Person"][property="foaf:birthDate"],
		[typeof="foaf:Person"] [property="foaf:birthDate"],
		[typeof="Person"][property="birthDate"],
		[typeof="Person"] [property="birthDate"] {
		
		}
		
		/*style for the children of the Person*/
		[typeof="http://schema.org/Person"][property="http://schema.org/children"],
		[typeof="http://schema.org/Person"] [property="http://schema.org/children"],
		[typeof="foaf:Person"][property="foaf:children"],
		[typeof="foaf:Person"] [property="foaf:children"],
		[typeof="Person"][property="children"],
		[typeof="Person"] [property="children"] {
		
		}
		
		/*style for the hasFormat of the Person*/
		[typeof="http://schema.org/Person"][property="http://purl.org/dc/terms/hasFormat"],
		[typeof="http://schema.org/Person"] [property="http://purl.org/dc/terms/hasFormat"],
		[typeof="foaf:Person"][property="foaf:hasFormat"],
		[typeof="foaf:Person"] [property="foaf:hasFormat"],
		[typeof="Person"][property="hasFormat"],
		[typeof="Person"] [property="hasFormat"] {
		
		}
		
		/*style for the familyName of the Person*/
		[typeof="http://schema.org/Person"][property="http://schema.org/familyName"],
		[typeof="http://schema.org/Person"] [property="http://schema.org/familyName"],
		[typeof="foaf:Person"][property="foaf:familyName"],
		[typeof="foaf:Person"] [property="foaf:familyName"],
		[typeof="Person"][property="familyName"],
		[typeof="Person"] [property="familyName"] {
		
		}
		
		/*style for the jobTitle of the Person*/
		[typeof="http://schema.org/Person"][property="http://schema.org/jobTitle"],
		[typeof="http://schema.org/Person"] [property="http://schema.org/jobTitle"],
		[typeof="foaf:Person"][property="foaf:jobTitle"],
		[typeof="foaf:Person"] [property="foaf:jobTitle"],
		[typeof="Person"][property="jobTitle"],
		[typeof="Person"] [property="jobTitle"] {
			margin:10px 10px 0px 0px;
			color: #666;
		}
		
		/*style for the workLocation of the Person*/
		[typeof="http://schema.org/Person"][property="http://schema.org/workLocation"],
		[typeof="http://schema.org/Person"] [property="http://schema.org/workLocation"],
		[typeof="foaf:Person"][property="foaf:workLocation"],
		[typeof="foaf:Person"] [property="foaf:workLocation"],
		[typeof="Person"][property="workLocation"],
		[typeof="Person"] [property="workLocation"] {
		
		}
		
		/*style for the parents of the Person*/
		[typeof="http://schema.org/Person"][property="http://schema.org/parents"],
		[typeof="http://schema.org/Person"] [property="http://schema.org/parents"],
		[typeof="foaf:Person"][property="foaf:parents"],
		[typeof="foaf:Person"] [property="foaf:parents"],
		[typeof="Person"][property="parents"],
		[typeof="Person"] [property="parents"] {
		
		}
		
		/*style for the date of the Person*/
		[typeof="http://schema.org/Person"][property="http://vocab.sindice.net/date"],
		[typeof="http://schema.org/Person"] [property="http://vocab.sindice.net/date"],
		[typeof="foaf:Person"][property="foaf:date"],
		[typeof="foaf:Person"] [property="foaf:date"],
		[typeof="Person"][property="date"],
		[typeof="Person"] [property="date"] {
		
		}
		
		/*style for the affiliation of the Person*/
		[typeof="http://schema.org/Person"][property="http://schema.org/affiliation"],
		[typeof="http://schema.org/Person"] [property="http://schema.org/affiliation"],
		[typeof="foaf:Person"][property="foaf:affiliation"],
		[typeof="foaf:Person"] [property="foaf:affiliation"],
		[typeof="Person"][property="affiliation"],
		[typeof="Person"] [property="affiliation"] {
		
		}
		
		/*style for the givenName of the Person*/
		[typeof="http://schema.org/Person"][property="http://schema.org/givenName"],
		[typeof="http://schema.org/Person"] [property="http://schema.org/givenName"],
		[typeof="foaf:Person"][property="foaf:givenName"],
		[typeof="foaf:Person"] [property="foaf:givenName"],
		[typeof="Person"][property="givenName"],
		[typeof="Person"] [property="givenName"] {
		
		}
		
		/*style for the honorificPrefix of the Person*/
		[typeof="http://schema.org/Person"][property="http://schema.org/honorificPrefix"],
		[typeof="http://schema.org/Person"] [property="http://schema.org/honorificPrefix"],
		[typeof="foaf:Person"][property="foaf:honorificPrefix"],
		[typeof="foaf:Person"] [property="foaf:honorificPrefix"],
		[typeof="Person"][property="honorificPrefix"],
		[typeof="Person"] [property="honorificPrefix"] {
		
		}
		
		/*style for the address of the Person*/
		[typeof="http://schema.org/Person"][property="http://schema.org/address"],
		[typeof="http://schema.org/Person"] [property="http://schema.org/address"],
		[typeof="foaf:Person"][property="foaf:address"],
		[typeof="foaf:Person"] [property="foaf:address"],
		[typeof="Person"][property="address"],
		[typeof="Person"] [property="address"] {
			margin:10px 10px 0px 0px;
			color: rgb(0, 0, 51);
		}
		
		/*style for the parent of the Person*/
		[typeof="http://schema.org/Person"][property="http://schema.org/parent"],
		[typeof="http://schema.org/Person"] [property="http://schema.org/parent"],
		[typeof="foaf:Person"][property="foaf:parent"],
		[typeof="foaf:Person"] [property="foaf:parent"],
		[typeof="Person"][property="parent"],
		[typeof="Person"] [property="parent"] {
		
		}
		
		/*style for the contactPoint of the Person*/
		[typeof="http://schema.org/Person"][property="http://schema.org/contactPoint"],
		[typeof="http://schema.org/Person"] [property="http://schema.org/contactPoint"],
		[typeof="foaf:Person"][property="foaf:contactPoint"],
		[typeof="foaf:Person"] [property="foaf:contactPoint"],
		[typeof="Person"][property="contactPoint"],
		[typeof="Person"] [property="contactPoint"] {
		
		}
		
		/*style for the colleague of the Person*/
		[typeof="http://schema.org/Person"][property="http://schema.org/colleague"],
		[typeof="http://schema.org/Person"] [property="http://schema.org/colleague"],
		[typeof="foaf:Person"][property="foaf:colleague"],
		[typeof="foaf:Person"] [property="foaf:colleague"],
		[typeof="Person"][property="colleague"],
		[typeof="Person"] [property="colleague"] {
			color: rgb(0, 0, 51);
			text-decoration: underline;
		}
		
		/*style for the colleague of the Person*/
		[typeof="http://schema.org/Person"][property="http://schema.org/colleague"]:hover,
		[typeof="http://schema.org/Person"] [property="http://schema.org/colleague"]:hover,
		[typeof="foaf:Person"][property="foaf:colleague"]:hover,
		[typeof="foaf:Person"] [property="foaf:colleague"]:hover,
		[typeof="Person"][property="colleague"]:hover,
		[typeof="Person"] [property="colleague"]:hover {
			color: red;
			text-decoration: underline;
		}
		
		/*style for the awards of the Person*/
		[typeof="http://schema.org/Person"][property="http://schema.org/awards"],
		[typeof="http://schema.org/Person"] [property="http://schema.org/awards"],
		[typeof="foaf:Person"][property="foaf:awards"],
		[typeof="foaf:Person"] [property="foaf:awards"],
		[typeof="Person"][property="awards"],
		[typeof="Person"] [property="awards"] {
		
		}
		
		/*style for the additionalType of the Person*/
		[typeof="http://schema.org/Person"][property="http://schema.org/additionalType"],
		[typeof="http://schema.org/Person"] [property="http://schema.org/additionalType"],
		[typeof="foaf:Person"][property="foaf:additionalType"],
		[typeof="foaf:Person"] [property="foaf:additionalType"],
		[typeof="Person"][property="additionalType"],
		[typeof="Person"] [property="additionalType"] {
		
		}
		
		/*style for the interactionCount of the Person*/
		[typeof="http://schema.org/Person"][property="http://schema.org/interactionCount"],
		[typeof="http://schema.org/Person"] [property="http://schema.org/interactionCount"],
		[typeof="foaf:Person"][property="foaf:interactionCount"],
		[typeof="foaf:Person"] [property="foaf:interactionCount"],
		[typeof="Person"][property="interactionCount"],
		[typeof="Person"] [property="interactionCount"] {
		
		}
		
		/*style for the award of the Person*/
		[typeof="http://schema.org/Person"][property="http://schema.org/award"],
		[typeof="http://schema.org/Person"] [property="http://schema.org/award"],
		[typeof="foaf:Person"][property="foaf:award"],
		[typeof="foaf:Person"] [property="foaf:award"],
		[typeof="Person"][property="award"],
		[typeof="Person"] [property="award"] {
		
		}
		
		/*style for the title of the Person*/
		[typeof="http://schema.org/Person"][property="http://purl.org/dc/terms/title"],
		[typeof="http://schema.org/Person"] [property="http://purl.org/dc/terms/title"],
		[typeof="foaf:Person"][property="foaf:title"],
		[typeof="foaf:Person"] [property="foaf:title"],
		[typeof="Person"][property="title"],
		[typeof="Person"] [property="title"] {
		
		}
		
		/*style for the telephone of the Person*/
		[typeof="http://schema.org/Person"][property="http://schema.org/telephone"],
		[typeof="http://schema.org/Person"] [property="http://schema.org/telephone"],
		[typeof="foaf:Person"][property="foaf:telephone"],
		[typeof="foaf:Person"] [property="foaf:telephone"],
		[typeof="Person"][property="telephone"],
		[typeof="Person"] [property="telephone"] {
			margin:10px 10px 0px 0px;
			color: rgb(0, 0, 51);
		}
		
		/*style for the honorificSuffix of the Person*/
		[typeof="http://schema.org/Person"][property="http://schema.org/honorificSuffix"],
		[typeof="http://schema.org/Person"] [property="http://schema.org/honorificSuffix"],
		[typeof="foaf:Person"][property="foaf:honorificSuffix"],
		[typeof="foaf:Person"] [property="foaf:honorificSuffix"],
		[typeof="Person"][property="honorificSuffix"],
		[typeof="Person"] [property="honorificSuffix"] {
		
		}
		
		/*style for the image of the Person*/
		[typeof="http://schema.org/Person"][property="http://schema.org/image"],
		[typeof="http://schema.org/Person"] [property="http://schema.org/image"],
		[typeof="foaf:Person"][property="foaf:image"],
		[typeof="foaf:Person"] [property="foaf:image"],
		[typeof="Person"][property="image"],
		[typeof="Person"] [property="image"] {
			float:left;
			margin-left:0px;
			border:1px solid #333333;
			width:64px;
			height:64px;
		}
		
		/*style for the hasPart of the Person*/
		[typeof="http://schema.org/Person"][property="http://purl.org/dc/terms/hasPart"],
		[typeof="http://schema.org/Person"] [property="http://purl.org/dc/terms/hasPart"],
		[typeof="foaf:Person"][property="foaf:hasPart"],
		[typeof="foaf:Person"] [property="foaf:hasPart"],
		[typeof="Person"][property="hasPart"],
		[typeof="Person"] [property="hasPart"] {
		
		}
		
		/*style for the valid of the Person*/
		[typeof="http://schema.org/Person"][property="http://purl.org/dc/terms/valid"],
		[typeof="http://schema.org/Person"] [property="http://purl.org/dc/terms/valid"],
		[typeof="foaf:Person"][property="foaf:valid"],
		[typeof="foaf:Person"] [property="foaf:valid"],
		[typeof="Person"][property="valid"],
		[typeof="Person"] [property="valid"] {
		
		}
		
		/*style for the worksFor of the Person*/
		[typeof="http://schema.org/Person"][property="http://schema.org/worksFor"],
		[typeof="http://schema.org/Person"] [property="http://schema.org/worksFor"],
		[typeof="foaf:Person"][property="foaf:worksFor"],
		[typeof="foaf:Person"] [property="foaf:worksFor"],
		[typeof="Person"][property="worksFor"],
		[typeof="Person"] [property="worksFor"] {
		
		}
		
		/*style for the page of the Person*/
		[typeof="http://schema.org/Person"][property="http://xmlns.com/foaf/0.1/page"],
		[typeof="http://schema.org/Person"] [property="http://xmlns.com/foaf/0.1/page"],
		[typeof="foaf:Person"][property="foaf:page"],
		[typeof="foaf:Person"] [property="foaf:page"],
		[typeof="Person"][property="page"],
		[typeof="Person"] [property="page"] {
		
		}
		
		/*style for the relatedTo of the Person*/
		[typeof="http://schema.org/Person"][property="http://schema.org/relatedTo"],
		[typeof="http://schema.org/Person"] [property="http://schema.org/relatedTo"],
		[typeof="foaf:Person"][property="foaf:relatedTo"],
		[typeof="foaf:Person"] [property="foaf:relatedTo"],
		[typeof="Person"][property="relatedTo"],
		[typeof="Person"] [property="relatedTo"] {
		
		}
		
		/*style for the spouse of the Person*/
		[typeof="http://schema.org/Person"][property="http://schema.org/spouse"],
		[typeof="http://schema.org/Person"] [property="http://schema.org/spouse"],
		[typeof="foaf:Person"][property="foaf:spouse"],
		[typeof="foaf:Person"] [property="foaf:spouse"],
		[typeof="Person"][property="spouse"],
		[typeof="Person"] [property="spouse"] {
		
		}
		
		/*style for the size of the Person*/
		[typeof="http://schema.org/Person"][property="http://vocab.sindice.net/size"],
		[typeof="http://schema.org/Person"] [property="http://vocab.sindice.net/size"],
		[typeof="foaf:Person"][property="foaf:size"],
		[typeof="foaf:Person"] [property="foaf:size"],
		[typeof="Person"][property="size"],
		[typeof="Person"] [property="size"] {
		
		}
		
		/*style for the performerIn of the Person*/
		[typeof="http://schema.org/Person"][property="http://schema.org/performerIn"],
		[typeof="http://schema.org/Person"] [property="http://schema.org/performerIn"],
		[typeof="foaf:Person"][property="foaf:performerIn"],
		[typeof="foaf:Person"] [property="foaf:performerIn"],
		[typeof="Person"][property="performerIn"],
		[typeof="Person"] [property="performerIn"] {
		
		}
		
		/*style for the faxNumber of the Person*/
		[typeof="http://schema.org/Person"][property="http://schema.org/faxNumber"],
		[typeof="http://schema.org/Person"] [property="http://schema.org/faxNumber"],
		[typeof="foaf:Person"][property="foaf:faxNumber"],
		[typeof="foaf:Person"] [property="foaf:faxNumber"],
		[typeof="Person"][property="faxNumber"],
		[typeof="Person"] [property="faxNumber"] {
		
		}